<mat-card class="mat-elevation-z8">
	<mat-card-header>
		<mat-card-title>{{dayOfWeek}}</mat-card-title>
		<mat-card-subtitle>{{dayNumber}} {{month}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="weatherBlock">
			<img [src]="iconUrl">
			<span class="weatherDesc">{{weatherDesc}}</span>
		</div>
		<mat-divider></mat-divider>
		<mat-list>
			<mat-list-item>
				<span class="rowTitle">Sunrise</span>
				<span class="rowValue">{{sunrise}}</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<span class="rowTitle">Sunset</span>
				<span class="rowValue">{{sunset}}</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<span class="rowTitle">Feels like</span>
				<div class="rowValue">
					<span class="dayTemp">{{feelsLikeDayTemp < 0 ? feelsLikeDayTemp : '+'+feelsLikeDayTemp}} &deg;</span>
					<span class="nightTemp">{{feelsLikeNightTemp < 0 ? feelsLikeNightTemp : '+'+feelsLikeNightTemp}} &deg;</span>
				</div>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<span class="rowTitle">Humidity</span>
				<span class="rowValue">{{humidity}} %</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<span class="rowTitle">Clouds</span>
				<span class="rowValue">{{clouds}} %</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<span class="rowTitle">Wind</span>
				<span class="rowValue">{{windSpeed}} m/s</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<span class="rowTitle">Pressure</span>
				<span class="rowValue">{{pressure}} mm Hg</span>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
</mat-card>